body {
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    background-image: radial-gradient(circle at 0.34% 31.92%, #a8c9ff 0, #3c78f2 50%, #002e75 100%);

}

h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: text;
    text-emphasis-color: transparent;
}


p:first-letter {
    font-family: Georgia;
    font-size: 4rem;
    line-height: 1;
}

a:link, a:visited, a:active {
    text-decoration:none;
  }
  
.contenedor{
    text-align: center;
    display: flex;
    justify-content:center ;
    align-items:center;
    padding-top: 30px;

}  
